:root{
    --vermelho-netflix: #E50914;
    --texto-principal: #FFFFFF;
    --botao-hover: #810208;
    --cor-rodape: #AFAF8F;
}
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: var(--texto-principal);
}
body{
    background-color: #000000;
}
nav{
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: 'logo aside';
    grid-template-rows: 150px;
}

.botao{
    background-color: var(--vermelho-netflix);
    text-decoration: none;
}

.botao:hover{
    background-color: var(--botao-hover);
}

.imagem_logo_principal{
    grid-area: logo;
    width: 40%;
    min-width: 150px;
    margin: 20px 10px;
}

aside{
    grid-area: aside;
    justify-self: end;
}

.menu{
    margin: 20px;
    list-style: none;
}

.conteudo_dropdown a{
    text-decoration: none;
}
.img_menu img{
    min-height: 50px;
    max-width: 60px;
}

.dropdown{
    display: none;
    margin-right: 10px;
}

.conteudo_dropdown{
    background-color: var(--vermelho-netflix);
    padding: 10px;
}

.conteudo_dropdown:hover{
    background-color: var(--botao-hover);
}

.img_menu:hover .dropdown{
    display: block;
}
.img_menu:hover .menu_home{
    background-color: var(--botao-hover);
}

.principal{
    background-image: url(../img/fundo_inicio_mundoTec.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
}
.container{
    height: 100vh;
}

.conteudo_titulo{
    text-align: center;
    justify-items: center;
    margin-top: 100px;
}
.conteudo_titulo h1{
    font-size: 45px;
}

.conteudo_titulo p{
    font-size: 25px;
    margin: 30px 0px 50px 0px;
}

.botao_contato{
    padding: 15px 30px;
    border-radius: 5px;
}

.secundario{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 480px;
    border-block-end: 10px solid #232323;
}
.container__descricao{
    padding: 100px 30px;
}

.secundario__imagem{
    width: 60%;
    max-width: 350px;
    min-width: 275px;
    justify-self: center;
    align-self: center;
}

.descricao__titulo{
    font-size: 35px;
}

.descricao__texto{
    font-size: 25px;
    margin: 20px 0 40px 0;
}

.botao_home{
    padding: 15px 30px;
    border-radius: 5px;
}

.rodape{
    text-align: center;
    height: 250px;
}

footer img{
    margin: 20px 0px;
    width: 20%;
}

.rodape_lista{
    display: grid;
    list-style-type: none;
    grid-template-columns: 20% 20% 20% 20% 20%;
    justify-content: center;
}
.class_link{
    color: var(--cor-rodape);
    font-size: 20px;
    padding: 0 30px;
}

.rodape_texto{
    margin-top: 25px;
    color: var(--cor-rodape);
    font-size: 20px;
}

@media (max-width: 767px){
    .secundario{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 400px 400px;
        border-block-end: 10px solid #232323;
    }
    .rodape_lista{
        display: grid;
        list-style-type: none;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 50px 50px;
        justify-content: center;
    }
}