:root{
    --vermelho-netflix: #E50914;
    --texto-principal: #FFFFFF;
    --botao-hover: #810208;
    --cor-rodape: #AFAF8F;
}
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: var(--texto-principal);
}
body{
    background-color: #000000;
}
nav{
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: 'logo aside';
    grid-template-rows: 150px;
}

.botao{
    background-color: var(--vermelho-netflix);
    text-decoration: none;
}

.botao:hover{
    background-color: var(--botao-hover);
}

.imagem_logo_principal{
    grid-area: logo;
    width: 40%;
    min-width: 150px;
    margin: 20px 10px;
}

aside{
    grid-area: aside;
    justify-self: end;
}

.menu{
    margin: 20px;
    list-style: none;
}

.conteudo_dropdown a{
    text-decoration: none;
}
.img_menu img{
    min-height: 50px;
    max-width: 60px;
}

.dropdown{
    display: none;
    margin-right: 10px;
}

.conteudo_dropdown{
    background-color: var(--vermelho-netflix);
    padding: 10px;
}

.conteudo_dropdown:hover{
    background-color: var(--botao-hover);
}

.img_menu:hover .dropdown{
    display: block;
}
.img_menu:hover .menu_home{
    background-color: var(--botao-hover);
}

main{
    margin-top: 75px;
    display: grid;
    justify-items: center;
}

.lista_beneficios img{
    width: 15px;
}
.card_planos{
    background-color: var(--vermelho-netflix);
    padding: 20px 5px;
    border-radius: 10px;
    margin: 25px;
    border: solid 2px black;
    width: 60%;
}

.card_planos article h1{
    text-align: center;
    margin: 0 0 10px 0;
    font-size: 35px;
    color: black;
}

.descricao{
    font-size: 17px;
}
.lista_beneficios{
    list-style: none;
    font-size: 19px;
}

.lista_beneficios li{
    padding: 5px 0;
}

.valor{
    text-align: center;
    font-size: 45px;
    color: #000000;
    margin: 0 0 30px 0;
}

.compra{
    text-align: center;
}

.botao_compra{
    text-decoration: none;
    padding: 15px 40px;
    background-color: #000000;
}

.botao_compra:hover{
    background-color: #353535;
}

.rodape{
    border-top: solid 5px #E50914;
    margin-top: 50px;
    text-align: center;
    height: 250px;
}

footer img{
    margin: 30px 0px;
    width: 20%;
}

.rodape_lista{
    display: grid;
    list-style-type: none;
    grid-template-columns: 20% 20% 20% 20% 20%;
    justify-content: center;
}
.class_link{
    color: var(--cor-rodape);
    font-size: 20px;
    padding: 0 30px;
}

.rodape_texto{
    margin-top: 25px;
    color: var(--cor-rodape);
    font-size: 20px;
}

@media (max-width: 767px){
    .rodape_lista{
        display: grid;
        list-style-type: none;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 50px 50px;
        justify-content: center;
    }
    .lista_beneficios{
        font-size: 15px;
    }
}