:root{
    --vermelho-netflix: #E50914;
    --texto-principal: #FFFFFF;
    --botao-hover: #810208;
    --cor-rodape: #AFAF8F;
}
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: var(--texto-principal);
}
body{
    background-image: linear-gradient(to left, rgb(42, 42, 42), black);
}
nav{
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100px;
}

.menu_catalogo{
    background-color: var(--botao-hover);
}

.botao{
    background-color: var(--vermelho-netflix);
    text-decoration: none;
}

.botao_entrar{
    
    margin: 0px 0px;
    padding: 10px 25px;
    border-radius: 5px;
    margin-right: 20px;
}

.botao:hover{
    background-color: var(--botao-hover);
}

aside{
    justify-self: end;
    align-self: center;
}
.menu{
    background-color: var(--vermelho-netflix);
    padding: 0px;
    margin: 100px 10px 20px 0px;
    width: 80%;
    border-radius: 5px;
    list-style: none;
}

ul li{
    padding: 5px;
}

header nav aside ul li a{
    text-decoration: none;
}

header nav aside ul li:hover{
    background-color: var(--botao-hover);
}

.imagem_logo_principal{
    width: 40%;
    min-width: 150px;
    margin: 20px 10px;
    grid-area: logo;
}

/* main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
} */

/* .container{
    position: relative;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;
} */

.card{
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 60px 0px;
    border-block-end: 10px solid #810208;
}

.conteudo{
    justify-self: center;
    width: 280px;
    height: 400px;
    margin: 30px;
    box-shadow: 10px 10px 50px #E50914;
    border-radius: 10px;
    background: #232323;

}

.img_catalogo{
    width: 75%;
    min-width: 250px;
    align-self: center;
    justify-self: center;
}

.rodape{
    text-align: center;
    height: 250px;
}

footer img{
    margin: 20px 0px;
    width: 20%;
}

.rodape_lista{
    display: grid;
    list-style-type: none;
    grid-template-columns: 20% 20% 20% 20% 20%;
    justify-content: center;
}
.class_link{
    color: var(--cor-rodape);
    font-size: 20px;
    padding: 0 30px;
}

.rodape_texto{
    margin-top: 25px;
    color: var(--cor-rodape);
    font-size: 20px;
}