:root{
    --vermelho-netflix: #E50914;
    --texto-principal: #FFFFFF;
    --botao-hover: #810208;
    --cor-rodape: #AFAF8F;
}
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: var(--texto-principal);
}
body{
    background-color: #000000;
}
nav{
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: 'logo aside';
    grid-template-rows: 150px;
}

.botao{
    background-color: var(--vermelho-netflix);
    text-decoration: none;
}

.botao:hover{
    background-color: var(--botao-hover);
}

.imagem_logo_principal{
    grid-area: logo;
    width: 40%;
    min-width: 150px;
    margin: 20px 10px;
}

aside{
    grid-area: aside;
    justify-self: end;
}

.menu{
    margin: 20px;
    list-style: none;
}

.conteudo_dropdown a{
    text-decoration: none;
    padding: 5px 10px;
}
.img_menu img{
    min-height: 50px;
    max-width: 60px;
}

.dropdown{
    display: none;
    margin-right: 10px;
}

.conteudo_dropdown{
    background-color: var(--vermelho-netflix);
    padding: 10px;
}

.conteudo_dropdown:hover{
    background-color: var(--botao-hover);
}

.img_menu:hover .dropdown{
    display: block;
}
.img_menu:hover .menu_home{
    background-color: var(--botao-hover);
}

.secundario{
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 60px 0px;
    border-block-end: 10px solid #810208;
}

.conteudo{
    justify-self: center;
    width: 280px;
    height: 400px;
    margin: 30px;
    box-shadow: 10px 10px 50px #E50914;
    border-radius: 10px;
    background: #232323;
    padding: 10px;
    width: 80%;
}

.conteudo h1{
    text-align: center;
    margin: 10px 0;
    font-size: 30px;
    color: var(--vermelho-netflix);
}

.lista_catalogo{
    list-style: none;
    margin: 20px 10px;
    font-size: 20px;
}

.lista_catalogo img{
    width: 15px;
}

.lista_catalogo li{
    padding: 10px 0;
}

.img_catalogo{
    width: 75%;
    min-width: 250px;
    align-self: center;
    justify-self: center;
}

.rodape{
    text-align: center;
    height: 250px;
}

footer img{
    margin: 20px 0px;
    width: 20%;
}

.rodape_lista{
    display: grid;
    list-style-type: none;
    grid-template-columns: 20% 20% 20% 20% 20%;
    justify-content: center;
}
.class_link{
    color: var(--cor-rodape);
    font-size: 20px;
    padding: 0 30px;
}

.rodape_texto{
    margin-top: 25px;
    color: var(--cor-rodape);
    font-size: 20px;
}

@media (max-width: 767px){
    .secundario{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 400px 400px;
        border-block-end: 10px solid #232323;
    }
    .conteudo{
        justify-self: center;
        width: 280px;
        height: 300px;
        margin: 20px 30px;
        box-shadow: 10px 10px 50px #E50914;
        border-radius: 10px;
        background: #232323;
        padding: 10px;
        width: 80%;
    }
    .lista_catalogo{
        font-size: 15px;
    }
    .img_catalogo{
        max-width: 450px;
    }
    .rodape_lista{
        display: grid;
        list-style-type: none;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 50px 50px;
        justify-content: center;
    }
}